/*  box-sizing , police 'raleway' et couleur de fond */

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

html {
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 2200px;
    height: 100%;

}

header,
main {
    margin-left: 40px;
}

#header_bottom,
main {
    margin-right: 20px;
}

/* formatage textes et liens */

h1 {
    font-weight: 900;
    font-size: x-large;
}

h2 {
    font-weight: 600;
    font-size: x-large;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* hover pour les cartes, les filtres, et 
   liens du footer */

a figure:hover,
#photo_activite figure:hover {
    box-shadow: 0px 0px 0px 2px #0065fc;
}

.liste_lien_footer ul li a:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 0px 2px #0065fc;
    padding: 3px;
}

#afficher a {
    padding: 5px;
}

#afficher a:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 0px 2px #0065fc;
    padding: 5px;
}

.lien_filtre a:hover {
    background-color: #deebff;
}

.liste_lien_footer ul li a:active,
#afficher a:active,
.lien_filtre a:active {
    background-color: #deebff;
    color: grey;
    font-style: italic;
}

/* mise en forme du header et du logo */

#header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 120px;
}

a#logo {
    width: fit-content;
    margin-left: 20px;
    margin-bottom: -20px;
}

#logo img {
    width: 50%;
}

/* comportement du menu de navigation */

nav {
    display: flex;
    width: 33%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    height: 120px;
    width: 100%;
    max-width: 100%;
    margin-left: 0px;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

nav ul li a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-inline: 20px;
}

nav ul li a:hover {
    border-top: 3px #0065fc solid;
    color: #0065fc;
    padding-bottom: 3px;
}

nav ul li a:active {
    border-top: 3px #00fc65 solid;
    color: grey;

}

/* placement et mise en forme #header_bottom */

#header_bottom {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#header_bottom h1 {
    width: 100%;
    max-width: 100%;
    margin: 0px;
}

/* effacer la loupe en version desktop */

#loupe {
    display: none;
}

/* styles pour formulaire de recherche */

form {
    width: fit-content;
    height: 50px;
}

form i {
    position: absolute;
    width: 48px;
    height: 48px;
    padding: 16px;
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: #f2f2f2;
}

#location {
    font-size: large;
}

input#rechercher {
    height: 48px;
    margin-left: 48px;
    padding: 8px;
    border: 1px solid #f2f2f2;
    color: black;
    font-weight: 900;
}

input#rechercher::placeholder {
    opacity: 1;
    color: black;
}

#bouton_rechercher {
    position: absolute;
    width: fit-content;
    height: 48px;
    padding-inline: 16px;
    background-color: #0065fc;
    color: #ffffff;
    font-weight: 900;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    border: none;
}

/* les filtres */

#filtre {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    padding-bottom: 0px;
}

#filtre h2 {
    width: fit-content;
    max-width: fit-content;
    font-size: larger;
    margin-top: 45px;
    margin-right: 10px;
}

ul.liste_filtre {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    padding-inline: 0px;
}

li.lien_filtre {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 48px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-inline: 10px;
    font-size: large;
    border-radius: 25px;
}

.lien_filtre a {
    color: black;
    display: flex;
    align-items: center;
    width: max-content;
    height: 47px;
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    border-left: 2px solid #deebff;
    font-weight: bolder;
    background-color: #ffffff;
    margin-left: 10px;
    padding-right: 20px;
}

.lien_filtre i {
    display: flex;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: #deebff;
    border-radius: 100%;
    margin-inline-end: 10px;
    margin-left: -4px;

}

/* icone info ds header */

#header_info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
}

#header_info i {
    padding: 5px 9px;
    border: #d9d9d9 solid 2px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 12px;
    color: #0065fc;
    font-size: small;
    font-weight: 900;
}

#header_info h3 {
    font-size: medium;
    font-weight: 100;
}

/* les cartes pour article#hebergement */

.carte {
    width: 80%;
    max-width: 80%;
    height: 200px;
    overflow: clip;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 25px;
    box-shadow: 4px 8px 14px 2px lightgrey;
}

.carte img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 60%;
    padding: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.carte figcaption {
    box-sizing: border-box;
    width: 100%;
    height: 40%;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    flex-wrap: nowrap;
    border-radius: 25px;
    font-size: small;
    color: black;
}

.carte figcaption h3 {
    margin: 5px;
}

.carte figcaption p {
    margin: 5px;
}

.carte .star1 i,
.carte .star2 i,
.carte .star3 i,
.carte .star4 i,
.carte .star5 {
    color: #0065fc;
}

#carte4 .star4 i,
#carte4 .star5 i,
#carte1 .star5 i,
#carte3 .star5 i,
#carte5 .star5 i {
    color: grey;
}

/* les cartes pour aside#populaire */

.carte_aside {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px;
    border-radius: 25px;
    box-shadow: 4px 8px 14px 2px lightgrey;
}

.carte_aside img {
    object-fit: cover;
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    margin-inline-start: 0px;
    padding: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 0px;
}

.carte_aside figcaption {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55%;
    height: 100%;
    padding-top: 10px;
    color: black;
    font-size: small;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.carte_aside figcaption h3 {
    flex-wrap: wrap;
    margin: 5px;
}

.carte_aside figcaption p {
    margin: 5px;
}

.carte_aside figcaption p.etoile {
    display: flex;
    height: 100%;
    align-items: end;
}

.carte_aside .star1,
.carte_aside .star2,
.carte_aside .star3,
.carte_aside .star4,
#aside1 .star5 i {
    color: #0065fc;
}

#aside2 .star5,
#aside3 .star5 {
    color: grey;
}

/* section 1 : article#hebergement  */

#section1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

#hebergement {
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    border-radius: 25px;
}

#hebergement h2 {
    background-color: #f2f2f2;
    margin-left: 45px;
}

#photo_hebergement {
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#photo_hebergement a {
    width: 33%;
    height: 45%;
    margin: 0px;
    padding: 0px;
}

#afficher {
    height: 100%;
    margin: 0px;
    padding-top: 20px;
    background-color: #f2f2f2;
}

#afficher a {
    background-color: #f2f2f2;
    color: black;
    font-size: large;
    font-weight: bold;
    margin-left: 50px;
}

/* section1: aside#populaire */

#populaire {
    box-sizing: border-box;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    border-radius: 25px;
    background-color: #f2f2f2;
}

#populaire h2 {
    display: flex;
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    background-color: #f2f2f2;
}

#populaire h2 i {
    background-color: #f2f2f2;
}

#photo_populaire {
    background-color: #f2f2f2;
    width: 85%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    border-radius: 25px;
}

/* section #activite */

#activite {
    margin-top: 50px;
    width: 100%;
    height: 650px;
}

#photo_activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 90%;
}

#photo_activite a {
    width: 23%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 4px 8px 14px 2px lightgrey;
}

.column {
    width: 23%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

#photo_activite figure {
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-right: 40px;
    border-radius: 25px;
}

#photo_activite figure img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#photo_activite .column a {
    width: 100%;
    height: 50%;
    margin: 0px;
}

#photo_activite figure.petite {
    width: 100%;
    min-width: 100%;
    height: 100%;
}

#photo_activite figure.petite img {
    height: 78%;
}

#photo_activite figure.grande img {
    height: 90%;
}

#photo_activite figcaption {
    color: black;
    font-size: small;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
}

/* ajustement de la hauteur des cartes .petite dans .column */

#petite1 {
    max-height: 300px;
}

#petite2 {
    max-height: 220px;
}

#petite2 img {
    max-height: 73%;
}

#petite3 {
    max-height: 240px;
}

#petite4 {
    max-height: 280px;
}

/* le footer */

footer {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 50px;
    background-color: #f2f2f2;

}

.liste_lien_footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 28%;
    padding-left: 40px;
    background-color: #f2f2f2;
}

.liste_lien_footer ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 80px;
    padding-left: 0px;
    background-color: #f2f2f2;
}

.liste_lien_footer ul li {
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: -3px;
}

.liste_lien_footer ul li a {
    color: black;
    font-size: medium;
    font-weight: 100;
    background-color: #f2f2f2;
    padding: 3px;
}

footer h2 {
    background-color: #f2f2f2;
    font-size: large;
    margin-bottom: 0px;
}